<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>The event you RSVPed for starts in one day, <%= @user.name %>!</h1>
      
      <p>
         The event start at: <%= @event.date %> 
      </p>
      
      <p>
         To login to the site, just follow this link: 
         <%= @url %>.
      </p>
      
      <p>Have a great day!</p>
      
   </body>
</html>
