<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Someone RSVPed for your event, <%= @event.user.name %>!</h1>
      
      <p>
         The user <%= @user.name %> has RSVPed to your Event! 
      </p>
      
      <p>
         To login to the site, just follow this link: 
         <%= @url %>.
      </p>
      
      <p>Have a great day!</p>
      
   </body>
</html>
